#Data Structures Python Practice

#Lists

In [33]:
my_list = []
print(my_list)

[]

In [34]:
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)

[1, 2, 3]

In [35]:
my_list.remove(2)
print(my_list)

[1, 3]

In [36]:
fruits = ["apple", "banana", "cherry", "date"]
print(fruits[1])

banana

In [37]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:6])

[3, 4, 5, 6]

#Sets

In [38]:
my_set = set()
print(my_set)

set()

In [39]:
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

{1, 2, 3}

In [40]:
my_set.remove(2)
print(my_set)

{1, 3}

In [41]:
set1 = {4, 8, 9, 5, 6, 3}
set2 = {6, 4, 1, 0, 8, 2}
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)

{0, 1, 2, 3, 4, 5, 6, 8, 9}
{8, 4, 6}
{9, 3, 5}

#Tuples

In [42]:
#latitude, longitude of los angeles
coordinates = (34.0549, 118.2426)
print(coordinates[0])
print(coordinates[1])

34.0549
118.2426

In [43]:
person = ("Samantha", 25, "Engineer", "New York")
(name, age, occupation, city) = person
print(name)
print(age)
print(occupation)
print(city)

Samantha
25
Engineer
New York